<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../assets/css/layui.css">
    <link rel="stylesheet" href="../assets/css/view.css"/>
    <link rel="icon" href="/static/favicon.ico">
    <title>个人信息</title>
</head>
<body class="layui-view-body">
<div class="layui-content">
    <div class="layui-page-header">
        <div class="pagewrap">
                <span class="layui-breadcrumb">
                  <a href="/foreend"><i class="layui-icon layui-icon-return"></i> 返回</a>
                </span>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-card">
            <div class="layui-card-body">
                <div class="form-box">
                    <div class="layui-form layui-form-item">
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-mid">
                                <span id="username" th:text="${session.user.getName}"></span>
                                <br/>
                                <br/>
                                <button class="layui-btn" id="send">发送</button>
                            </label>
                            <div class="layui-input-block">
                                <textarea id="msg" name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-card">
            <div class="layui-card-body">
                <div class="form-box">
                    <div class="layui-form layui-form-item">
                        <div class="layui-form-item layui-form-text" id="leaveMsg">
                            <p>
                                我不会忘记我在图书馆读书的美好时光，因为它不知带给我多少欢乐，给予我多少知识，是图书馆让我在书的海洋中快乐成长，是图书馆让我向着知识海岸奋勇前进。<br/>
                                <span class="leaveTime">2020/07/11 09:52:34</span>
                                <span class="leaveUsername">——王五 老师</span>
                            </p>
                            <hr/>
                            <p>
                                墨香盈室，花香盈袖，图书馆知识常青，春不老；平日阅刊，假日阅诗，读者群痴心未改，兴长存。<br/>
                                <span class="leaveTime">2020/07/15 20:20:11</span>
                                <span class="leaveUsername">——李四 同学</span>
                            </p>
                            <hr/>
                            <p>
                                我是多久没去图书馆了，好像自从读大三了，渐渐的几乎不再去图书馆。一直以来我都喜欢着图书馆，安静自由行走，那里的氛围更让我有读书的欲望，空气里都是书香。自习室，不知怎地，厌恶它来。虽然图书馆不时会有走路的脚步声，讲电话声，翻书声，私语声，但丝毫不会减少我对这里的喜爱，不影响我看书的心情，恬淡安然，像只躺在窗台晒太阳的小猫，调皮的满足的挠挠自己的小肚皮，那么可爱。<br/>
                                <span class="leaveTime">2020/07/26 15:17:56</span>
                                <span class="leaveUsername">——陈二 同学</span>
                            </p>
                            <hr/>
                            <p>
                                图书馆像一个世外桃源，能让人如痴如醉在里面；图书馆像一位循循善诱的老师，不但给人丰富的知识，而且陶冶人的情操；图书馆是人与人之间互相沟通的纽带，可以通过它沟通思想、由陌生成为好朋友。<br/>
                                <span class="leaveTime">2020/08/07 13:44:09</span>
                                <span class="leaveUsername">——陈二 同学</span>
                            </p>
                            <hr/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../assets/js/jquery-3.6.0.js"></script>
<script src="../assets/layui.js"></script>
<script>
    $(function (){
        $('.leaveUsername').text("——"+$('#username').text());
        $('#send').click(function (){
            let msg = $("#msg").val();
            console.log(msg);
            msg = "<hr/><p>"+msg+"<br/>——"+$('#username').text() +"</p>";
            $('#leaveMsg').append(msg);
            $("#msg").val("");
        })
    })
</script>
</body>
</html>