<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../assets/css/layui.css">
    <link rel="stylesheet" href="../assets/css/view.css"/>
    <script type="text/javascript" src="../js/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="../assets/layui.js"></script>
    <title>二维码</title>
</head>
<div hidden th:text="'../res/qrcode/'+${session.user.getId}+'.png'" id="userqr"></div>
<body class="layui-view-body">
<div class="layui-content">
    <div class="layui-col-xs6 layui-col-md12 layui-inline">
        <div class="layui-card">
            <div class="layui-card-body chart-card">
                <div class="chart-header">
                    <div class="metawrap">
                        <div class="total">您当前的选座情况</div>
                    </div>
                </div>
                <div class="chart-footer">
                    <div class="layui-font-20">
                        <p>
                            您当前的座位：<span id="seatId" th:text="${seatInfo}"></span>
                            <button class="layui-btn-radius layui-btn" id="signin" onclick="qrcode('签到')">签到<i
                                    class="layui-icon layui-icon-ok-circle"></i></button>
                            <button class="layui-btn-radius layui-btn layui-btn-danger" id="signout" onclick="qrcode('签退')">签退<i
                                    class="layui-icon layui-icon-close-fill"></i></button>

                        </p>
                        <p style="margin: 5px">
                            您当前的状态：<span id="state" th:text="${state}"></span>
                            <button class="layui-btn-radius layui-btn layui-btn-warm" id="stop" onclick="stopSeat()">暂离座位<i
                                    class="layui-icon layui-icon-close-fill"></i>
                            </button>
                            <button class="layui-btn-radius layui-btn layui-btn-warm" id="back" onclick="backSeat()">返回座位
                                <i class="layui-icon layui-icon-close-fill"></i></button>
                        </p>
                        <p style="margin: 5px">
                            您当前的违规次数：<span id="violate" th:text="${violate}"></span>
                        </p>
                    </div>
                    <!--                    <div class="field">-->
                    <!--                        <img th:src="'../res/qrcode/'+${session.user.getId}+'.png'" id="idcard"/>-->
                    <!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../assets/layui.js"></script>
<script>
    // 获取各个按钮的状态
    (getBtnState());

    function getBtnState() {
        $.ajax({
            url: "/user/getBtnState",
            type: "GET",
            dataType: "json",
            contentType: "application/json;charset=UTF-8",
            success: function (response) {
                // true-可用：显示正常（无disabled样式-->remove），可点击（onclick可用）
                // false-不可用 -->add
                updateSeat();

                response.signin ? $("#signin").removeClass("layui-btn-disabled") : $("#signin").addClass("layui-btn-disabled");
                $("#signin").attr("disabled", !response.signin);

                response.signout ? $("#signout").removeClass("layui-btn-disabled") : $("#signout").addClass("layui-btn-disabled");
                $("#signout").attr("disabled", !response.signout);

                response.stop ? $("#stop").removeClass("layui-btn-disabled") : $("#stop").addClass("layui-btn-disabled");
                $("#stop").attr("disabled", !response.stop);

                response.back ? $("#back").removeClass("layui-btn-disabled") : $("#back").addClass("layui-btn-disabled");
                $("#back").attr("disabled", !response.back);
            }
        });
    }

    function updateSeat() {
        $.ajax({
            url: "/seat/update",
            type: "GET",
            dataType: "json",
            contentType: "application/json;charset=UTF-8",
            success: function (response) {
                $("#seatId").text(response.seatInfo);
                $("#state").text(response.state);
                $("#violate").text(response.violate);
            },
        });
    }

    // 参考网页: https://www.layui.com/doc/modules/layer.html
    let content = "<img src=" + $('#userqr').text() + "/>";

    function qrcode(str) {
        let index = layer.open({
            skin: 'layui-layer-lan',//皮肤，可选，这里用了内置参数
            area: '450px',
            offset: '100px',//相对于内嵌页面
            title: '扫一扫' + str,
            type: 0, //信息框
            // content: '传入任意的文本或html', //content是可以是 string或者html
            content: content,
            closeBtn: 2,//两种关闭按钮（1和2）,自己挑选
            // time: 8000,//8秒后自动关闭
            yes: function (index, layero) {
                //按确定后执行的函数，‘yes’属性可删
                $.ajax({
                    url: "/history/" + (str === "签到" ? "signIn" : "signOut"),
                    type: "GET",
                    dataType: "json",
                    success: function (response) {
                        if (response) {
                            getBtnState();
                        }
                        layer.close(index); //如果设定了yes回调，需进行手工关闭
                    }
                });
            }
        });
    }

    function stopSeat() {
        $.ajax({
            url: "/history/stop",
            type: "GET",
            dataType: "json",
            success: function (response) {
                if (response) {
                    getBtnState();
                }
            }
        });
    }

    function backSeat() {
        $.ajax({
            url: "/history/back",
            type: "GET",
            dataType: "json",
            success: function (response) {
                if (response) {
                    getBtnState();
                }
            }
        });
    }
</script>
</body>
</html>