<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../assets/css/layui.css">
    <link rel="stylesheet" href="../assets/css/view.css"/>
    <title></title>
</head>
<body class="layui-view-body">
<div class="layui-content">
    <div class="layui-row layui-col-space20">
        <div class="layui-col-xs4 layui-col-sm12 layui-col-md4">
            <div class="layui-card" id="mgs-one">
                <script src="../main/js/mgs/mgs_one.js" type="module"></script>
            </div>
            <div class="layui-card" id="mgs-two">
                <script src="../main/js/mgs/mgs_two.js" type="module"></script>
            </div>
            <div class="layui-card" id="mgs-three">
                <script src="../main/js/mgs/mgs_three.js" type="module"></script>
            </div>
        </div>
    </div>
</div>
<script src="../assets/layui.all.js"></script>
<script>
    var element = layui.element;
</script>
</body>
</html>