<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="../assets/css/layui.css">
  <link rel="stylesheet" href="../assets/css/view.css"/>
  <title></title>
</head>
<body class="layui-view-body">
<div class="layui-content">
  <div class="layui-row">
    <div class="layui-card">
      <div class="layui-card-header"><h1 style="text-align: center;">注册表</h1></div>
      <form class="layui-form layui-card-body" action="">
        <div class="layui-form-item">
          <label class="layui-form-label">用户账户</label>
          <div class="layui-input-block">
            <input type="text" name="title" required  lay-verify="required" placeholder="请输入账号" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">用户密码</label>
          <div class="layui-input-inline">
            <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
          </div>
          <div class="layui-form-mid layui-word-aux">辅助文字</div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">选择身份</label>
          <div class="layui-input-inline">
            <select name="city" lay-verify="required">
              <option value=""></option>
              <option value="0">学生</option>
              <option value="1">老师</option>
              <option value="2">狗管理</option>
              <option value="3">,,,,</option>
              <option value="4">.etc</option>
            </select>
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">权限</label>
          <div class="layui-input-block">
            <input type="checkbox" name="like[student]" title="学生" checked>
            <input type="checkbox" name="like[teacher]" title="教师">
            <input type="checkbox" name="like[admin]" title="管理">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">学院</label>
          <div class="layui-input-block">
            <input type="text" name="title" required  lay-verify="required" placeholder="请输入学院" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">邮箱</label>
          <div class="layui-input-block">
            <input type="text" name="title"  lay-verify="required" placeholder="请输入邮箱" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">开关</label>
          <div class="layui-input-block">
            <input type="checkbox" name="switch" lay-skin="switch">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">性别</label>
          <div class="layui-input-block">
            <input type="radio" name="sex" value="男" title="男">
            <input type="radio" name="sex" value="女" title="女" checked>
          </div>
          <input type="checkbox" name="" title="写作" lay-skin="primary" checked>
        </div>
        <div class="layui-form-item layui-form-text">
          <label class="layui-form-label">文本域</label>
          <div class="layui-input-block">
            <textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
          </div>
        </div>
        <div class="layui-form-item">
          <div class="layui-input-block">
            <button class="layui-btn layui-btn-blue" lay-submit lay-filter="formDemo">添加用户</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="../assets/layui.all.js"></script>
<script>
  let form = layui.form
          ,layer = layui.layer;
</script>
</body>
</html>