<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../assets/css/layui.css">
    <link rel="stylesheet" href="../assets/css/view.css"/>
    <script type="text/javascript" src="/main/js/jquery-3.6.0.js"></script>
    <title>二维码</title>
</head>
<body class="layui-view-body">
<div class="layui-content">
    <div class="layui-col-xs6 layui-col-md12 layui-inline">
        <div class="layui-card">
            <div class="layui-card-body chart-card">
                <div class="chart-header">
                    <div class="metawrap">
                        <div class="total">您的二维码</div>
                    </div>
                </div>
                <div class="chart-footer">
                    <div class="field">
                        <img th:src="'/res/qrcode/'+${session.user.getSname()}+'.png'" id="idcard"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../assets/layui.all.js"></script>
<script>
</script>
</body>
</html>