<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../assets/css/layui.css">
    <link rel="stylesheet" href="../assets/css/view.css"/>
    <link rel="icon" href="/favicon.ico">
    <title>管理后台</title>
</head>
<body class="layui-view-body">
<div class="layui-content">
    <div class="layui-page-header">
        <div class="pagewrap">
                <span class="layui-breadcrumb">
                  <a href="">首页</a>
                  <a href="">用户</a>
                  <a><cite>用户组</cite></a>
                </span>
            <h2 class="title">用户组</h2>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-card">
            <div class="layui-card-body">
                <div class="form-box">
                    <div class="layui-form layui-form-item">
                        <div class="layui-inline">
                            <div class="layui-form-mid">ID:</div>
                            <div class="layui-input-inline" style="width: 100px;">
                                <input type="text" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-mid">用户名:</div>
                            <div class="layui-input-inline" style="width: 100px;">
                                <input type="text" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-mid">邮箱:</div>
                            <div class="layui-input-inline" style="width: 100px;">
                                <input type="text" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-mid">学院:</div>
                            <div class="layui-input-inline" style="width: 100px;">
                                <input type="text" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-mid">状态:</div>
                            <div class="layui-input-inline" style="width: 100px;">
                                <select name="state">
                                    <option value="0"></option>
                                    <option value="1">在馆</option>
                                    <option value="2">离线</option>
                                </select>
                            </div>
                            <div class="layui-form-mid">性别:</div>
                            <div class="layui-input-inline" style="width: 100px;">
                                <select name="sex">
                                    <option value=""></option>
                                    <option value="1">男</option>
                                    <option value="2">女</option>
                                </select>
                            </div>
                            <button class="layui-btn layui-btn-blue">查询</button>
                            <button class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                    <a href="insertuser.html">
                        <button class="layui-btn layui-btn-blue"><i class="layui-icon">&#xe654;</i>新增用户</button>
                    </a>
                    <table id="demo"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../assets/layui.all.js"></script>
<script th:inline="none">
    let element = layui.element;
    let table = layui.table;
    let form = layui.form;

    //展示已知数据
    table.render({
        elem: '#demo'
        , cols: [[ //标题栏
            {field: 'id', title: 'ID', width: 80, sort: true}
            , {field: 'username', title: '用户名', width: 120}
            , {field: 'email', title: '邮箱', minWidth: 50, maxWidth: 150}
            , {field: 'state', title: '状态', width: 90, sort: true}
            , {field: 'campus', title: '学院', minWidth: 120, sort: true}
            , {field: 'sign', title: '签名', minWidth: 160}
            , {field: 'sex', title: '性别', width: 80, sort: true}
            , {field: 'city', title: '城市', width: 100, sort: true}
            , {field: 'experience', title: '积分', width: 80, sort: true}
        ]]
        , data: [{
            "id": "10001"
            , "username": "杜甫"
            , "email": "xianxin@layui.com"
            , "sex": "男"
            , "state": "离线"
            , "campus": ""
            , "city": "浙江杭州"
            , "sign": "人生恰似一场修行"
            , "experience": "116"
            , "ip": "192.168.0.8"
            , "logins": "108"
            , "joinTime": "2016-10-14"
        }, {
            "id": "10002"
            , "username": "李白"
            , "email": "xianxin@layui.com"
            , "sex": "男"
            , "state": "离线"
            , "campus": ""
            , "city": "浙江杭州"
            , "sign": "人生恰似一场修行"
            , "experience": "12"
            , "ip": "192.168.0.8"
            , "logins": "106"
            , "joinTime": "2016-10-14"
            , "LAY_CHECKED": true
        }, {
            "id": "10003"
            , "username": "王勃"
            , "email": "xianxin@layui.com"
            , "sex": "男"
            , "state": "离线"
            , "campus": ""
            , "city": "浙江杭州"
            , "sign": "人生恰似一场修行"
            , "experience": "65"
            , "ip": "192.168.0.8"
            , "logins": "106"
            , "joinTime": "2016-10-14"
        }, {
            "id": "10004"
            , "username": "贤心"
            , "email": "xianxin@layui.com"
            , "sex": "男"
            , "state": "离线"
            , "campus": ""
            , "city": "浙江杭州"
            , "sign": "人生恰似一场修行"
            , "experience": "666"
            , "ip": "192.168.0.8"
            , "logins": "106"
            , "joinTime": "2016-10-14"
        }, {
            "id": "10005"
            , "username": "xys"
            , "email": "1215791340@qq.com"
            , "state": "在馆"
            , "sex": "男"
            , "campus": "教育科学与技术学院"
            , "city": "浙江杭州"
            , "sign": "繁华落幕一场梦"
            , "experience": "86"
            , "ip": "42.192.164.221"
            , "logins": "106"
            , "joinTime": "2019-9-5"
        }, {
            "id": "10006"
            , "username": "贤心"
            , "email": "xianxin@layui.com"
            , "sex": "男"
            , "state": "离线"
            , "campus": "成教学院"
            , "city": "浙江杭州"
            , "sign": "人生恰似一场修行"
            , "experience": "12"
            , "ip": "192.168.0.8"
            , "logins": "106"
            , "joinTime": "2016-10-14"
        }, {
            "id": "10007"
            , "username": "李华"
            , "email": "lihua@1551.com"
            , "sex": "女"
            , "state": "离线"
            , "campus": "教育科学与技术学院"
            , "city": "浙江杭州"
            , "sign": "人生恰似一场修行"
            , "experience": "16"
            , "ip": "192.168.0.8"
            , "logins": "106"
            , "joinTime": "2016-10-14"
        }, {
            "id": "10008"
            , "username": "郑静"
            , "email": "309115015@qq.com"
            , "sex": "女"
            , "state": "在馆"
            , "campus": "教育科学与技术学院"
            , "city": "浙江温州"
            , "sign": ""
            , "experience": "106"
            , "ip": "192.168.0.8"
            , "logins": "106"
            , "joinTime": "2016-10-14"
        }, {
            "id": "10009"
            , "username": "余晨书"
            , "email": "1014158023@qq.com"
            , "sex": "女"
            , "state": "在馆"
            , "campus": "经济学院"
            , "city": "浙江杭州"
            , "sign": ""
            , "experience": "106"
            , "ip": "192.168.0.8"
            , "logins": "106"
            , "joinTime": "2016-10-14"
        }, {
            "id": "10010"
            , "username": "陈君艳"
            , "email": "1124787617@qq.com"
            , "sex": "女"
            , "state": "在馆"
            , "campus": "教育科学与技术学院"
            , "city": "浙江宁波"
            , "sign": "mafu家的猫 ~"
            , "experience": "106"
            , "ip": "192.168.0.8"
            , "logins": "106"
            , "joinTime": "2016-10-14"
        }, {
            "id": "10011"
            , "username": "俞赵赢"
            , "email": "2819467406@qq.com"
            , "sex": "男"
            , "state": "在馆"
            , "campus": "教育科学与技术学院"
            , "city": "浙江宁波"
            , "sign": "可是没有机会了"
            , "experience": "106"
            , "ip": "192.168.0.8"
            , "logins": "106"
            , "joinTime": "2016-10-14"
        }, {
            "id": "10012"
            , "username": "Lux"
            , "email": "3384437741@qq.com"
            , "sex": "女"
            , "state": "离线"
            , "campus": "战争学院"
            , "city": "德玛西亚"
            , "sign": "终极闪光!!!"
            , "experience": "106"
            , "ip": "192.168.0.8"
            , "logins": "106"
            , "joinTime": "2016-10-14"
        }, {
            "id": "10013"
            , "username": "武汉"
            , "email": "1273220698@qq.com"
            , "sex": "女"
            , "state": "离线"
            , "campus": "医学院"
            , "city": "浙江杭州"
            , "sign": "太懒了该怎么办"
            , "experience": "106"
            , "ip": "192.168.0.8"
            , "logins": "106"
            , "joinTime": "2019-11-16"
        }]
        , skin: 'line' //表格风格
        , even: true
        , page: true //是否显示分页
        , limits: [5, 10, 20, 50, 100]
        , limit: 5 //每页默认显示的数量
    });
</script>
</body>
</html>