<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../assets/css/layui.css">
    <link rel="stylesheet" href="../assets/css/view.css"/>
    <title></title>
</head>
<body class="layui-view-body">
<div class="layui-content">
    <div class="layui-row layui-col-space20">
        <div class="layui-col-sm6 layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-body chart-card">
                    <div class="chart-header">
                        <div class="metawrap">
                            <div class="meta">
                                <span>今日系统访问量</span>
                            </div>
                            <div class="total">99</div>
                        </div>
                    </div>
                    <div class="chart-body">
                        <div class="contentwrap">
                            待完善
                        </div>
                    </div>
                    <div class="chart-footer">
                        <div class="field">
                            <span>同比昨日变化：</span>
                            <span>22</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-body chart-card">
                    <div class="chart-header">
                        <div class="metawrap">
                            <div class="meta">
                                <span>当前在馆人数（朝晖）</span>
                            </div>
                            <div class="total">308</div>
                        </div>
                    </div>
                    <div class="chart-body">
                        <div class="contentwrap">
                            待完善
                        </div>
                    </div>
                    <div class="chart-footer">
                        <div class="field">
                            <span>同比昨天同期变化：</span>
                            <span>14</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row layui-col-space20">
        <div class="layui-col-sm6 layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-body chart-card">
                    <div class="chart-header">
                        <div class="metawrap">
                            <div class="meta">
                                <span>当前在馆人数（屏峰）</span>
                            </div>
                            <div class="total">933</div>
                        </div>
                    </div>
                    <div class="chart-body">
                        <div class="contentwrap">
                            待完善
                        </div>
                    </div>
                    <div class="chart-footer">
                        <div class="field">
                            <span>日注册量</span>
                            <span>57</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-body chart-card">
                    <div class="chart-header">
                        <div class="metawrap">
                            <div class="meta">
                                <span>当前在馆人数（莫干山）</span>
                            </div>
                            <div class="total">697</div>
                        </div>
                    </div>
                    <div class="chart-body">
                        <div class="contentwrap">
                            待完善
                        </div>
                    </div>
                    <div class="chart-footer">
                        <div class="field">
                            <span>日注册量</span>
                            <span>45</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../assets/layui.js"></script>
<script>
    let element = layui.element;
</script>
</body>
</html>