<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="assets/css/layui.css">
    <link rel="stylesheet" href="assets/css/admin.css">
    <link rel="icon" href="/favicon.ico">
    <title>管理后台</title>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header custom-header">
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item slide-sidebar" lay-unselect>
                <a href="javascript:;" class="icon-font"><i class="ai ai-menufold"></i></a>
            </li>
        </ul>

        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;"><span th:text="${session.admin.getName}">管理员</span></a>
                <dl class="layui-nav-child">
                    <dd><a href="/logout">退出</a></dd>
                </dl>
            </li>
        </ul>
    </div>

    <div class="layui-side custom-admin">
        <div class="layui-side-scroll">

            <div class="custom-logo">
                <img src="assets/images/logo.png" alt=""/>
                <h1>欢迎您，<span th:text="${session.admin.getName}">管理员</span></h1>
            </div>
            <ul id="Nav" class="layui-nav layui-nav-tree">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <i class="layui-icon layui-icon-home"></i>
                        <em>主页</em>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="/backend/homePage"><i class="layui-icon layui-icon-console"></i>报表</a></dd>
                    </dl>
                </li>
                <!--座位管理-->
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <i class="layui-icon layui-icon-table"></i>
                        <em>座位信息</em>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="backend/seatInfo"><i class="layui-icon layui-icon-template"></i>修改座位布局</a></dd> <!--可以修改座位状态-->
                        <dd><a href="backend/insertSeats"><i class="layui-icon layui-icon-add-circle"></i>座位状态管理</a></dd>
                        <!--                        <dd><a href="views/seatview"><i class="layui-icon layui-icon-print"></i>座位预约情况</a></dd>-->
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <i class="layui-icon layui-icon-friends"></i>
                        <em>用户信息</em>
                    </a>
                    <dl class="layui-nav-child">
                        <!--                        <dd><a href="backend/userCredit"><i class="layui-icon layui-icon-user"></i>用户信息管理</a></dd>-->
                        <!--                        <dd><a href="backend/userRecord"><i class="layui-icon layui-icon-set-sm"></i>用户选座记录</a></dd>-->
                        <dd><a href="backend/userInfo"><i class="layui-icon layui-icon-user"></i>用户信息管理</a></dd>
                        <dd><a href="backend/userHistory"><i class="layui-icon layui-icon-set-sm"></i>用户选座记录</a></dd>
                    </dl>
                </li>
            </ul>

        </div>
    </div>

    <div class="layui-body">
        <div class="layui-tab app-container" lay-allowClose="true" lay-filter="tabs">
            <ul id="appTabs" class="layui-tab-title custom-tab"></ul>
            <div id="appTabPage" class="layui-tab-content"></div>
        </div>
    </div>

    <div class="layui-footer">
        <p>©运河杯图书馆</p>
    </div>

    <div class="mobile-mask"></div>
</div>
<script src="assets/layui.js"></script>
<script src="assets/custom/js/index.js" data-main="home"></script>
</body>
</html>