<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="assets/css/layui.css">
    <link rel="stylesheet" href="assets/css/admin.css">
    <link rel="icon" href="/favicon.ico">
    <script type="text/javascript" src="js/jquery-3.6.0.js"></script>
    <title>选座系统</title>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header custom-header">

        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item slide-sidebar" lay-unselect>
                <a href="javascript:;" class="icon-font"><i class="ai ai-menufold"></i></a>
            </li>
        </ul>

        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;" th:text="${session.user.getName}">用户名</a>
                <dl class="layui-nav-child">
                    <dd><a href="foreend/userInfo">个人信息</a></dd>
                    <dd><a href="javascript:;" onclick="toHelp()">帮助中心</a></dd>
                    <dd><a href="/logout"><i class="layui-icon layui-icon-return"></i> 退出</a></dd>
                </dl>
            </li>
        </ul>
    </div>

    <div class="layui-side custom-admin">
        <div class="layui-side-scroll">

            <div class="custom-logo">
                <img src="assets/images/logo.png" alt=""/>
                <h1>欢迎您，<span th:text="${session.user.getName}">用户名</span></h1>
            </div>
            <ul id="Nav" class="layui-nav layui-nav-tree">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <i class="layui-icon layui-icon-home"></i>
                        <em>主页</em>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="/foreend/homePage"><i class="layui-icon layui-icon-heart-fill"></i>欢迎页</a></dd>
                        <dd><a href="/foreend/seatView"><i class="layui-icon layui-icon-read"></i>选择座位</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <i class="layui-icon layui-icon-table"></i>
                        <em>座位信息</em>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="foreend/qrcode"><i class="layui-icon layui-icon-chart-screen"></i>查看当前选座情况</a></dd>
                        <dd><a href="foreend/seatInfo"><i class="layui-icon layui-icon-list"></i>查看所有座位信息</a></dd>
                        <dd><a href="foreend/history"><i class="layui-icon layui-icon-list"></i>查看历史选座记录</a></dd>
                        <!--                        <dd><a href="javascript:;"><i class="layui-icon layui-icon-list"></i>查看历史选座记录</a></dd>-->
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <i class="layui-icon layui-icon-component"></i>
                        <!--图标链接：https://www.layui.com/doc/element/icon.html?tdsourcetag=s_pcqq_aiomsg-->
                        <em>其他工具</em>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="foreend/searchBook"><i class="layui-icon layui-icon-search"></i>书本查询</a></dd>
                        <dd><a href="javascript:;"><i class="layui-icon layui-icon-service"></i>留言反馈</a></dd>
                    </dl>
                </li>
            </ul>

        </div>
    </div>

    <div class="layui-body">
        <div class="layui-tab app-container" lay-allowClose="true" lay-filter="tabs">
            <ul id="appTabs" class="layui-tab-title custom-tab"></ul>
            <div id="appTabPage" class="layui-tab-content"></div>
        </div>
    </div>

    <div class="layui-footer">
        <p>©运河杯图书馆</p>
    </div>

    <div class="mobile-mask"></div>
</div>
<script src="assets/layui.js"></script>
<script src="assets/custom/js/index.js" data-main="home"></script>
<script type="text/javascript">
    function toHelp() {
        let content = "    <p class=\"written\">1、预约：读者可登录此界面预约当日座位。<br>\n" +
            "        2、取消预约：可在预约生效后30分钟内取消。<br>\n" +
            "        3、签到：<br>\n" +
            "        &nbsp;（1）读者成功预约后需在一小时内进馆并扫描桌上二维码进行签到。<br>\n" +
            "        &nbsp;（2）若未按时签到，系统视为失约处理一次。<br>\n" +
            "        4、离座离馆：<br>\n" +
            "        &nbsp;（1）正常离馆：读者需扫描桌上的二维码选择“离馆”。<br>\n" +
            "        &nbsp;（2）饭点时间离馆（中饭：11：30-13：00 晚饭：17：00-18：30）：读者可在此时间段内通过入馆口刷卡离馆，出馆时间限制为1h,回馆可直接刷卡入馆。（此过程无需扫码）<br>\n" +
            "        &nbsp;（3）临时离馆：<br>\n" +
            "        &nbsp;&nbsp; &nbsp;①馆内：读者需扫描桌上的二维码选择“临时离座”，时间限制为30分钟，回座后需再次扫描二维码进行“临时离座签到”。<br>\n" +
            "        &nbsp;&nbsp;&nbsp; ②馆外：读者需扫描桌上的二维码选择“临时出馆”，时间限制为30分钟，回馆可直接刷卡入馆，无需再次扫码。<br>\n" +
            "        &nbsp;（4）以上未在规定时间内回馆签到，系统视为失约处理一次。<br>\n" +
            "        5、失约处理：<br>\n" +
            "        &nbsp;（1）系统建立信用制度，读者当月违规次数满5次，不能进行座位预约。<br>\n" +
            "        &nbsp;（2）读者可在此网页点击“个人中心”查看个人违规次数。<br>\n" +
            "        &nbsp;（3）次月，系统违规记录将进行刷新，所有违规次数归零，恢复座位预约权限。<br>\n" +
            "        6、推荐预约：根据读者以往选座情况，系统自动推荐5-10个仍为空位状态的位置。<br>\n" +
            "        7、如果您有任何意见或建议，请联系：8888888888<br></p>";

        let index = layer.open({
            skin: 'layui-layer-lan',//皮肤，可选，这里用了内置参数
            area: '450px',
            offset: '100px',//相对于内嵌页面
            title: '预约规则',
            type: 0, //信息框
            // content: '传入任意的文本或html', //content是可以是 string或者html
            content: content,
            closeBtn: 2,//两种关闭按钮（1和2）,自己挑选
            // time: 8000,//8秒后自动关闭
            yes: function (index, layero) {
                //按确定后执行的函数，‘yes’属性可删

                layer.close(index); //如果设定了yes回调，需进行手工关闭
            }
        });
    }
</script>
</body>
</html>