<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="assets/css/layui.css">
    <link rel="stylesheet" href="assets/css/admin.css">
    <link rel="icon" href="/favicon.ico">
    <script type="text/javascript" src="js/jquery-3.6.0.js"></script>
    <title>选座系统</title>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header custom-header">

        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item slide-sidebar" lay-unselect>
                <a href="javascript:;" class="icon-font"><i class="ai ai-menufold"></i></a>
            </li>
        </ul>

        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;" th:text="${session.user.getName}">用户名</a>
                <dl class="layui-nav-child">
                    <dd><a href="foreend/userInfo">个人信息</a></dd>
                    <dd><a href="javascript:;">帮助中心</a></dd>
                    <dd><a href="/logout"><i class="layui-icon layui-icon-return"></i> 退出</a></dd>
                </dl>
            </li>
        </ul>
    </div>

    <div class="layui-side custom-admin">
        <div class="layui-side-scroll">

            <div class="custom-logo">
                <img src="assets/images/logo.png" alt=""/>
                <h1>欢迎您，<span th:text="${session.user.getName}">用户名</span></h1>
            </div>
            <ul id="Nav" class="layui-nav layui-nav-tree">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <i class="layui-icon layui-icon-home"></i>
                        <em>主页</em>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="/foreend/homePage"><i class="layui-icon layui-icon-heart-fill"></i>欢迎</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="foreend/seatView">
                        <i class="layui-icon layui-icon-read"></i>
                        <em>入馆预约</em>
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <i class="layui-icon layui-icon-table"></i>
                        <em>座位信息</em>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="foreend/qrcode"><i class="layui-icon layui-icon-chart-screen"></i>查看当前选座情况</a></dd>
                        <dd><a href="foreend/seatInfo"><i class="layui-icon layui-icon-list"></i>查看所有座位信息</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <i class="layui-icon layui-icon-component"></i>
                        <!--图标链接：https://www.layui.com/doc/element/icon.html?tdsourcetag=s_pcqq_aiomsg-->
                        <em>其他工具</em>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="foreend/searchBook"><i class="layui-icon layui-icon-search"></i>书本查询</a></dd>
                        <dd><a href="javascript:;"><i class="layui-icon layui-icon-cellphone"></i>电子书阅览</a></dd>
                        <dd><a href="javascript:;"><i class="layui-icon layui-icon-service"></i>留言反馈</a></dd>
                    </dl>
                </li>
            </ul>

        </div>
    </div>

    <div class="layui-body">
        <div class="layui-tab app-container" lay-allowClose="true" lay-filter="tabs">
            <ul id="appTabs" class="layui-tab-title custom-tab"></ul>
            <div id="appTabPage" class="layui-tab-content"></div>
        </div>
    </div>

    <div class="layui-footer">
        <p>©运河杯图书馆</p>
    </div>

    <div class="mobile-mask"></div>
</div>
<script src="assets/layui.js"></script>
<script src="assets/custom/js/index.js" data-main="home"></script>
</body>
</html>