<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="assets/css/layui.css">
    <link rel="stylesheet" href="assets/css/admin.css">
    <link rel="icon" href="/favicon.ico">
    <script type="text/javascript" src="/main/js/jquery-3.6.0.js"></script>
    <title>选座系统</title>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header custom-header">

        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item slide-sidebar" lay-unselect>
                <a href="javascript:;" class="icon-font"><i class="ai ai-menufold"></i></a>
            </li>
        </ul>

        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;" th:text="${session.user.getSname}">用户xx</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">个人信息</a></dd>
                    <dd><a href="javascript:;">帮助中心</a></dd>
                    <dd><a href="/">退出</a></dd>
                </dl>
            </li>
        </ul>
    </div>

    <div class="layui-side custom-admin">
        <div class="layui-side-scroll">

            <div class="custom-logo">
                <img src="assets/images/logo.png" alt=""/>
                <h1>欢迎您，<span th:text="${session.user.getSname}">xx用户</span></h1>
            </div>
            <ul id="Nav" class="layui-nav layui-nav-tree">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <i class="layui-icon">&#xe68e;</i>
                        <em>主页</em>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="views/console"><i class="layui-icon layui-icon-chart-screen"></i>报表</a></dd>
                        <dd><a href="javascript:;"><i class="layui-icon layui-icon-read"></i>简介</a></dd>
                        <dd><a href="javascript:;"><i class="layui-icon layui-icon-find-fill"></i>地图</a></dd>
                        <dd><a href="javascript:;"><i class="layui-icon layui-icon-help"></i>帮助</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <i class="layui-icon layui-icon-component"></i><!--图标链接：https://www.layui.com/doc/element/icon.html?tdsourcetag=s_pcqq_aiomsg-->
                        <em>工具</em>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="views/searchbook"><i class="layui-icon layui-icon-search"></i>书本查询</a></dd>
                        <dd><a href="javascript:;"><i class="layui-icon layui-icon-website"></i>电子书阅览</a></dd>
                        <dd><a href="javascript:;"><i class="layui-icon layui-icon-file"></i>入馆申请</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <i class="layui-icon layui-icon-friends"></i>
                        <em>用户</em>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="views/userinfo"><i class="layui-icon layui-icon-face-smile"></i>个人信息</a></dd>
                        <dd><a href="views/userinfomanage"><i class="layui-icon layui-icon-set-sm"></i>信息管理</a></dd>
                        <dd><a href="javascript:;"><i class="layui-icon layui-icon-return"></i>退出登录</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <i class="layui-icon layui-icon-table"></i>
                        <em>座位</em>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="views/seatinfo"><i class="layui-icon layui-icon-template"></i>座位信息</a></dd>
                        <dd><a href="views/seatview"><i class="layui-icon layui-icon-print"></i>座位预览</a></dd>
                    </dl>
                </li>
            </ul>

        </div>
    </div>

    <div class="layui-body">
        <div class="layui-tab app-container" lay-allowClose="true" lay-filter="tabs">
            <ul id="appTabs" class="layui-tab-title custom-tab"></ul>
            <div id="appTabPage" class="layui-tab-content"></div>
        </div>
    </div>

    <div class="layui-footer">
        <p>©运河杯图书馆</p>
    </div>

    <div class="mobile-mask"></div>
</div>
<script src="assets/layui.js"></script>
<script src="assets/custom/js/index.js" data-main="home"></script>
</body>
</html>