<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.librarySystem.Demo.dao.HistoryDao">
    <insert id="insert">
        insert into historyrecord(userid, seatid, reservation)
        values (#{userId}, #{seatId}, #{time})
    </insert>
    <select id="getHistoryByUser" resultType="com.librarySystem.Demo.entity.History">
        select *
        from historyrecord
        where userid = #{userId}
          and seatid = #{seatId}
          and reservation = #{reserveTime}
    </select>
    <select id="getAllUserHistory" resultType="com.librarySystem.Demo.entity.History">
        select *
        from historyrecord
        where userid = #{userId}
    </select>
    <select id="getAll" resultType="com.librarySystem.Demo.entity.History">
        select *
        from historyrecord
    </select>
    <select id="getHistoryByTag" resultType="java.lang.Double">
        SELECT ifnull(sum(hr.leavetime - hr.reachtime) / count(hr.id), 0.0)
        FROM historyrecord hr
                 JOIN seatinfo s ON hr.seatid = s.seatid
        WHERE userid = #{userid}
          and s.tag like #{tag}
    </select>

    <select id="getUserByTag" resultType="java.lang.String">
        SELECT DISTINCT(hr.userid)
        FROM seatinfo s
                 JOIN historyrecord hr ON hr.seatid = s.seatid
        WHERE tag LIKE #{maxTagId}
    </select>

    <update id="updateSignin">
        update historyrecord
        set reachtime=#{date}
        where userid = #{id}
          and seatid = #{seatId}
          and reservation = #{reservetime}
    </update>
    <update id="updateSignout">
        update historyrecord
        set leavetime=#{date}
        where userid = #{id}
          and seatid = #{seatId}
          and reservation = #{reservetime}
    </update>
</mapper>