<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.librarySystem.Demo.dao.SeatDao">
    <select id="getSeatInfo" resultType="com.librarySystem.Demo.entity.Seat">
        select *
        from seatinfo
    </select>
    <select id="getSeatById" resultType="com.librarySystem.Demo.entity.Seat">
        select *
        from seatinfo
        where seatid = #{seatId}
    </select>
    <select id="getSeatByCampus" resultType="com.librarySystem.Demo.entity.Seat">
        select *
        from seatinfo
        where campus = #{campus}
    </select>
    <select id="getNumByFloor" resultType="java.lang.Integer">
        select count(seatid)
        from seatinfo
        where campus = #{campus}
          and floor = #{floor}
    </select>
    <select id="getSeatByTag" resultType="com.librarySystem.Demo.entity.Seat">
        SELECT *
        FROM seatinfo
        WHERE tag LIKE #{str}
        ORDER BY (desktype - occupynum) / desktype DESC
        LIMIT 5
    </select>

    <update id="upNum">
        update seatinfo
        set occupynum = occupynum + 1
        where seatid = #{seatId}
    </update>
    <update id="downNum">
        update seatinfo
        set occupynum = occupynum - 1
        where seatid = #{seatId}
    </update>
</mapper>