<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.librarySystem.Demo.dao.TagDao">
    <select id="getAllTag" resultType="com.librarySystem.Demo.entity.Tag">
        select *
        from tag
    </select>
    <select id="getTagName" resultType="java.lang.String">
        select tag
        from tag
        where id = #{s}
    </select>
</mapper>