<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.librarySystem.Demo.dao.UserDao">
    <select id="findByIdentity" resultType="com.librarySystem.Demo.entity.User">
        select *
        from userinfo
        where identity = #{identity}
          and id = #{account}
    </select>

    <select id="login" resultType="com.librarySystem.Demo.entity.User">
        select *
        from userinfo
        where identity = #{identity}
          and id = #{account}
          and password = #{password}
    </select>
    <select id="findNameByUserId" resultType="java.lang.String">
        select name
        from userinfo
        where id = #{userid}
    </select>

    <update id="reserve">
        update userinfo
        set seatid=#{seatId},
            reservetime=#{time},
            state=1
        where id = ${userId}
    </update>
    <update id="signOut">
        update userinfo
        set seatid     = null,
            reservetime=null,
            state=0
        where id = ${userId}
    </update>

    <select id="getAll" resultType="com.librarySystem.Demo.entity.User">
        select *
        from userinfo
    </select>
    <select id="getCurInfo" resultType="com.librarySystem.Demo.entity.User">
        select *
        from userinfo
        where id = #{userId}
    </select>
    <select id="getUserByFaculty" resultType="com.librarySystem.Demo.entity.User">
        select *
        from userinfo
        where faculty = #{faculty}
    </select>

    <!--    <insert id="register">-->
    <!--        insert into t_studentinfo(sno, sname, pswd, campus)-->
    <!--        values (#{sno}, #{sname}, #{password}, #{campus})-->
    <!--    </insert>-->

    <!--    <select id="getUserbySno" resultMap="getUser">-->
    <!--        select *-->
    <!--        from library_seat_selection.t_studentinfo-->
    <!--        where SNO = #{sno}-->
    <!--    </select>-->

    <!--    <select id="getUserbyInfos" resultMap="getUser">-->
    <!--        select *-->
    <!--        from library_seat_selection.t_studentinfo-->
    <!--        where SNO like #{sno}-->
    <!--          and PSWD like #{password}-->
    <!--          and CAMPUS like #{campus}-->
    <!--    </select>-->
</mapper>